<!DOCTYPE html>
<!--[if lt IE 7]>      	<html class ="no-js lt-ie9 lt-ie8 lt-ie7"> 		<![endif]-->
<!--[if IE 7]>          <html class ="no-js lt-ie9 lt-ie8"> 					<![endif]-->
<!--[if IE 8]>         	<html class ="no-js lt-ie9"> 									<![endif]-->
<!--[if gt IE 8]> <!--> <html class="no-js"> 											<!--<![endif]-->
	<head>
		{{! Settings }}
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

		{{! Page Meta }}
	    <title>{{@blog.title}}</title>
	    <meta name="description" content="{{@blog.description}}">

		{{! Compiled Styles.. Compyles? }}
		<link rel="stylesheet" type="text/css" href="{{ asset "css/main.css" }}">
		
		<script src="{{ asset "js/lib/modernizr.js" }}"></script>

		{{ghost_head}}
	</head>
	<body class="{{body_class}}">

		{{! Output the content of the header partial template }}
		{{> header}}

		<main role="primary">
			{{{body}}}
		</main>

		{{> footer}}

		{{ghost_foot}}

		{{> scripts }}

	</body>
</html>
